
body {
    display: flex;          
    justify-content: center;     
    align-items: center;         
    height: 100vh;               
    margin: 0;                 
   
}

#butn {
    background-color: #ff0000;
}

.btn {
    padding: 12px 25px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 23px;
    cursor: pointer;
}
