* {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

.main {
  height: 300px;
  width: 280px;
  margin: 70px 45px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15px;
  
}

.part1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2px;
  background-color: rgb(0, 139, 139, 0.8);
  border: 2px solid darkcyan;
  border-radius: 15px;
  padding: 10px 5px 40px 5px;
  gap: 10px;
  margin-bottom: 15px;
}

.part1 h1,p,span {
  background-color: rgba(0, 139, 139, 0.1);
  
}

.part1 button {
    margin: 15px 10px 0px 0px;
    border: 2px solid darkcyan;
    background-color: rgb(0, 139, 139);
    border-radius: 45px;
    padding: 7px;
}

.part2 {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.part2 button {
    color: black;
    background-color: gray;
    border: 2px solid rgb(39, 57, 57);
    padding: 5px 25px;
    border-radius: 10px;
}

.containor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  margin: 80px 0px 0px 0px;
  text-align: center;
  font-style: italic;
}