* {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

.main {
  height: 300px;
  width: 300px;
  margin: 70px 45px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 30px;
  
}

.part1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 15px;

}

.part1 span {
    margin: 0px 10px 0px 0px;
    border: 2px solid darkcyan;
    border-radius: 45px;
    padding: 7px;
}